.background1{
    /* background-image: url(../../../assets/images/DashImage/Ladka2.png); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: #fff;
}